@keyframes orbit {
    0.0% {transform: translate(400.0px, 0.0px); z-index: 10;}
    1.5625% {transform: translate(398.07389px, 9.80171px); z-index: 10;}
    3.125% {transform: translate(392.31411px, 19.50903px); z-index: 11;}
    4.6875% {transform: translate(382.77613px, 29.02847px); z-index: 12;}
    6.25% {transform: translate(369.55181px, 38.26834px); z-index: 13;}
    7.8125% {transform: translate(352.76851px, 47.13967px); z-index: 14;}
    9.375% {transform: translate(332.58784px, 55.55702px); z-index: 15;}
    10.9375% {transform: translate(309.20418px, 63.43933px); z-index: 16;}
    12.5% {transform: translate(282.84271px, 70.71068px); z-index: 17;}
    14.0625% {transform: translate(253.75731px, 77.30105px); z-index: 17;}
    15.625% {transform: translate(222.22809px, 83.14696px); z-index: 18;}
    17.1875% {transform: translate(188.55869px, 88.19213px); z-index: 18;}
    18.75% {transform: translate(153.07337px, 92.38795px); z-index: 19;}
    20.3125% {transform: translate(116.11387px, 95.69403px); z-index: 19;}
    21.875% {transform: translate(78.03613px, 98.07853px); z-index: 19;}
    23.4375% {transform: translate(39.20686px, 99.51847px); z-index: 19;}
    25.0% {transform: translate(0.0px, 100.0px); z-index: 20;}
    26.5625% {transform: translate(-39.20686px, 99.51847px); z-index: 19;}
    28.125% {transform: translate(-78.03613px, 98.07853px); z-index: 19;}
    29.6875% {transform: translate(-116.11387px, 95.69403px); z-index: 19;}
    31.25% {transform: translate(-153.07337px, 92.38795px); z-index: 19;}
    32.8125% {transform: translate(-188.55869px, 88.19213px); z-index: 18;}
    34.375% {transform: translate(-222.22809px, 83.14696px); z-index: 18;}
    35.9375% {transform: translate(-253.75731px, 77.30105px); z-index: 17;}
    37.5% {transform: translate(-282.84271px, 70.71068px); z-index: 17;}
    39.0625% {transform: translate(-309.20418px, 63.43933px); z-index: 16;}
    40.625% {transform: translate(-332.58784px, 55.55702px); z-index: 15;}
    42.1875% {transform: translate(-352.76851px, 47.13967px); z-index: 14;}
    43.75% {transform: translate(-369.55181px, 38.26834px); z-index: 13;}
    45.3125% {transform: translate(-382.77613px, 29.02847px); z-index: 12;}
    46.875% {transform: translate(-392.31411px, 19.50903px); z-index: 11;}
    48.4375% {transform: translate(-398.07389px, 9.80171px); z-index: 10;}
    50.0% {transform: translate(-400.0px, 0.0px); z-index: 10;}
    51.5625% {transform: translate(-398.07389px, -9.80171px); z-index: 10;}
    53.125% {transform: translate(-392.31411px, -19.50903px); z-index: 9;}
    54.6875% {transform: translate(-382.77613px, -29.02847px); z-index: 8;}
    56.25% {transform: translate(-369.55181px, -38.26834px); z-index: 7;}
    57.8125% {transform: translate(-352.76851px, -47.13967px); z-index: 6;}
    59.375% {transform: translate(-332.58784px, -55.55702px); z-index: 5;}
    60.9375% {transform: translate(-309.20418px, -63.43933px); z-index: 4;}
    62.5% {transform: translate(-282.84271px, -70.71068px); z-index: 3;}
    64.0625% {transform: translate(-253.75731px, -77.30105px); z-index: 3;}
    65.625% {transform: translate(-222.22809px, -83.14696px); z-index: 2;}
    67.1875% {transform: translate(-188.55869px, -88.19213px); z-index: 2;}
    68.75% {transform: translate(-153.07337px, -92.38795px); z-index: 1;}
    70.3125% {transform: translate(-116.11387px, -95.69403px); z-index: 1;}
    71.875% {transform: translate(-78.03613px, -98.07853px); z-index: 1;}
    73.4375% {transform: translate(-39.20686px, -99.51847px); z-index: 1;}
    75.0% {transform: translate(-0.0px, -100.0px); z-index: 0;}
    76.5625% {transform: translate(39.20686px, -99.51847px); z-index: 1;}
    78.125% {transform: translate(78.03613px, -98.07853px); z-index: 1;}
    79.6875% {transform: translate(116.11387px, -95.69403px); z-index: 1;}
    81.25% {transform: translate(153.07337px, -92.38795px); z-index: 1;}
    82.8125% {transform: translate(188.55869px, -88.19213px); z-index: 2;}
    84.375% {transform: translate(222.22809px, -83.14696px); z-index: 2;}
    85.9375% {transform: translate(253.75731px, -77.30105px); z-index: 3;}
    87.5% {transform: translate(282.84271px, -70.71068px); z-index: 3;}
    89.0625% {transform: translate(309.20418px, -63.43933px); z-index: 4;}
    90.625% {transform: translate(332.58784px, -55.55702px); z-index: 5;}
    92.1875% {transform: translate(352.76851px, -47.13967px); z-index: 6;}
    93.75% {transform: translate(369.55181px, -38.26834px); z-index: 7;}
    95.3125% {transform: translate(382.77613px, -29.02847px); z-index: 8;}
    96.875% {transform: translate(392.31411px, -19.50903px); z-index: 9;}
    98.4375% {transform: translate(398.07389px, -9.80171px); z-index: 10;}
    100.0% {transform: translate(400.0px, -0.0px); z-index: 10;}
}